<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secmem.gn.ctos.samdwich"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".global.Application"
        android:hardwareAccelerated="true"
        >

        <activity
            android:name="org.secmem.gn.ctos.samdwich.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".keyboard.ExceptionActivity"
            android:label="@string/app_name">
        </activity>

        <service
            android:name=".keyboard.MyKeyboard"
            android:label="@string/my_keyboard"
            android:hardwareAccelerated="true"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <meta-data android:name="android.view.im"
                android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
        </service>


        <service
            android:name=".mouse.PointingStickService"
            android:hardwareAccelerated="true"
            android:enabled="true"
            android:exported="false"> <!-- 퍼미션 중요 -->
        </service>

        <service android:name=".keyboard.KeyboardPopupService"
            android:hardwareAccelerated="true"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>
</manifest>
