<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellojni"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".HelloJni"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyKeyboard"
            android:label="@string/my_keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <meta-data android:name="android.view.im"
                android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
        </service>


        <service
            android:name=".PointingStickService"
            android:enabled="true"
            android:exported="false"> <!-- 퍼미션 중요 -->
        </service>


        <service
            android:name=".CursorService"
            android:enabled="true"
            android:exported="false"> <!-- 퍼미션 중요 -->
        </service>

        <service android:name=".KeyboardPopupService"
            android:exported="false">
        </service>

    </application>
</manifest>
